.root {
    height: auto;
    background-color: #8A6F6F;
    color: #FFFFFF;
    background-color: #8A6D6D;
    background-color: #8A6C6C;
    background-color: #8A6A6A;
    background-color: #8A6969;
    background-color: #8A6868;
    background-color: #8A6767;
    background-color: #8A6666;
    background-color: #8A6666;
    background-color: #8A6565;
    background-color: #8A6363;
    background-color: #8A6262;
    background-color: #8A6161;
    background-color: #8A6060;
    background-color: #8A5E5E;
    background-color: #8A5D5D;
    background-color: #9A6D1A;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.page-title {}

.header {
    text-align: center;
    color: #FFFFFF;
    background-color: #BA934C;
}